ul.menu(ng-show="showMenu2")
  li.label Font size
  li
    input(type="radio", name="font", value="12px",
      ng-model="config.fontSize",
      data-title="font size 12px")
  li
    input(type="radio", name="font", value="14px",
      ng-model="config.fontSize",
      data-title="font size 14px")
  li
    input(type="radio", name="font", value="16px",
      ng-model="config.fontSize",
      data-title="font size 16px")
  li.separator
  li
    button(ng-click="saveSize()") Save window size
  li.separator
  li
    a(href="/options/index.html", target="_blank") Config
